django
# psycopg2-binary
requests
gunicorn


##### Rest & gRPC Framework #####
djangorestframework
djangogrpcframework
grpcio
grpcio-tools

markdown       # Markdown support for the browsable API.
django-filter

grpcWSGI

##### Utils #####
django-prometheus
locust